@import url("../interface_good_school.scss");
.announcement {
    background-color: #60e9d2;
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 10px 60px;
    margin: 10px 20px;
    border-radius: 10px;
    .h1s {
        font-weight: 700;
    }
    .fox_and_squirrel {
        background-color: #6bf1da;
        border-radius: 115px;
        height: 150px;
    }
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 557px;
        font-weight: 400;
        text-align: center;
        font-size: 23px;
        a {
            padding: 10px;
            width: auto;
            border: 3px #000000 solid;
            border-radius: 50px;
            background-color: #ffebac;
            transition: 1.5s;
            span {
                // display: inline-block;
                transition: 1.5s;
                background: linear-gradient(90deg, #2a384e, #82a8e4);
                font-weight: 900;
                background-clip: text;
                color: transparent;
                font-size: 25px;
            }
        }
        a:hover {
            transition: 1.5s;
            background: linear-gradient(90deg, #2a384e, #82a8e4);
            span {
                transition: 1.5s;
                background: #fff8e3;
                background-clip: text;
                color: transparent;
            }
        }
    }
    .tiles {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        h3 {
            text-align: center;
            grid-column: 2 span;
            background-color: #fbbc48;
            font-size: 20px;
            font-weight: 600;
            padding: 10px 20px;
        }
        .link_fox_owl {
            display: grid;
            grid-template-columns: 50px auto;
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            color: #000000;
            background-color: #51b4a3;
            color: #031e47;
            margin: 4px;
            padding: 8px 20px;
            border-radius: 5px;
            min-width: 78px;
            text-align: center;
            img {
                height: 50px;
            }
            div {
                margin-left: 10px;
            }
        }
    }
    @media screen and (max-width: 1180px) {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        .tiles {
            grid-column: 2 span;
        }
    }
    @media screen and (max-width: 750px) {
        svg {
            margin-right: 24px;
        }
        h2 {
            // max-width: 454px;
            font-size: 22px;
        }
    }
    @media screen and (max-width: 500px) {
        .tiles {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            h3 {
                grid-column: 1 span;
            }
        }
    }
    @media screen and (max-width: 550px) {
        svg {
            width: 45px !important;
            margin-right: 15px;
        }
        h2 {
            // max-width: 374px;
            font-size: 19px;
        }
    }
    @media screen and (max-width: 452px) {
        h2 {
            // max-width: 208px;
            // font-size: 22px;
        }
    }
}

.programming_block {
    // padding: 20px;
    margin: 10px 10px;
    // background-color: #c4e8dc;
    // border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    // gap: 20px;
    // .horizontally {
    .info_png {
        display: grid;
        grid-template-columns: 460px auto;
    }
    .two_porogramm {
        // max-width: 1600px;
        // display: grid;
        // align-items: center;
        // grid-template-columns: auto auto;
        // justify-items: center;
        padding: 20px;
        border-radius: 10px;
        margin: 0px 10px;
        background-color: #c4e8dc;

        .png {
            border-radius: 100%;
            border: #7abdb4 10px solid;
            // height: 278px;
            width: 278px;

            margin: auto;
        }
        .information {
            text-align: center;
            h3 {
                font-weight: 700;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .yellow_block {
                display: inline-block;
                font-size: 18px;
                // font-size: 20px;
                // 501.16
                background-color: #ffcc73;
                border-radius: 5px;
                padding: 9px 100px;
            }
            ul {
                font-size: 19px;
                text-align: start;
            }
            a {
                display: flex;
                justify-content: center;
                text-decoration: none;
                span {
                    display: inline-flex;
                    align-items: center;
                    margin: 8px;
                    color: #496085;
                    transition: 0.3s;
                    font-size: 20px;
                }
                svg {
                    fill: #000000;
                    transition: 0.3s;
                }
            }
            @media (hover: hover) {
                a:hover {
                    svg {
                        fill: #284a7f;
                        transition: 0.3s;
                    }
                    span {
                        transition: 0.3s;

                        color: #284a7f;
                    }
                }
            }
            @media screen and (max-width: 1080px) {
                .yellow_block {
                    padding: 9px 50px;
                }
            }
            @media screen and (max-width: 828px) {
                .yellow_block {
                    padding: 9px 20px;
                }
            }
            @media screen and (max-width: 966px) {
                h3 {
                    span {
                        width: 315px;
                    }
                }
            }
        }
    }
    .grid_historical_articles {
        display: grid;
        grid-template-columns: auto 420px;
        text-align: center;
        h3{
            font-size: 23px;
            margin-bottom: 5px;
        }
        .link_articles{
            display: flex;
            flex-direction: column;
            justify-content:center;
            h4{
                font-size: 21px;
                margin-bottom: 0px;

            }
            .articles{
                text-align: center;
                background-color: #51b4a3;
                font-size: 19px;
                border-radius: 20px;
                text-decoration: none;
                color: #031e47;
                margin: 20px 5px;
                padding: 9px;
            }
            .articles:hover{
                background-color: #3b8478;
            }
            .all_articles{
                background-color: #f48d6b;
            }
            .all_articles:hover{
                background-color: #b0644a;
            }
        }
        .block_articles {
            margin: auto;
            width: 500px;

            display: inline-block;
            font-size: 19px;
            text-align: center;
            background-color: #51b4a3;
            border-radius: 20px;
            text-decoration: none;
            color: #031e47;
            img {
                display: block;
                width: 90%;
                border-radius: 20px;
                margin: 5%;
                margin-bottom: 0;
            }
            div {
                padding: 10px 0;
            }
        }
        .block_articles:hover {
            background-color: #3b8478;
            // color: #909090;
            img {
                background-color: #3b8478;
                filter: brightness(70%);
            }
        }
    }
    @media screen and (max-width: 1200px) {
        grid-template-columns: 380px auto;
    }
    @media screen and (max-width: 934px) {
        grid-template-columns: 300px auto;
        .two_porogramm {
            grid-template-columns: 336px auto;
            align-items: center;
            .png {
                height: 222px;
            }
        }
    }
    @media screen and (max-width: 800px) {
        grid-template-columns: auto;
        margin: 10px 20px;
        .two_porogramm {
            margin: 0;
            grid-template-columns: auto;
            .information .yellow_block {
                padding: 9px 100px;
            }
            h3 {
                span {
                    width: auto !important;
                }
            }
        }
    }
    @media screen and (max-width: 590px) {
        .two_porogramm {
            .information .yellow_block {
                padding: 9px 50px;
            }
            h3 {
                span {
                    width: 315px !important;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .two_porogramm {
            // .information .yellow_block{
            //     padding: 9px 50px;
            // }
            h3 {
                span {
                    width: 224px !important;
                }
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    .programming_block .horizontally {
        margin: auto;
    }
}

.advantagesSchool_block {
    background: url("/public/Vectors11111.svg") 104% -2%/25% no-repeat;
    background-color: #7abdb4;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 23px;
    li {
        list-style-type: none; /* Убираем маркеры у списка */
    }
    .horizontally {
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;
        display: grid;
        grid-template-columns: 25% auto 25%;
        .information {
            // margin-left: 50px;
            h4 {
                font-weight: 700;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            ul {
                margin-bottom: 0;
                span {
                    font-size: 19px;
                }
            }
            .div_a {
                margin-top: 14px;
                display: flex;
                justify-content: center;
                a {
                    // margin-right: 75px;
                    font-size: 19px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #031e47;
                    background-color: #d27435;
                    padding: 8px;
                    border-radius: 5px;
                    transition: 0.4s;
                }
                @media (hover: hover) {
                    a:hover {
                        transition: 0.4s;
                        background-color: #a64300;
                    }
                }
            }
        }
        .svg_heart {
            // padding: 116px 152px 29px 70px;
            height: 250px;
            margin: auto;
        }
        @media screen and (min-width: 1600px) {
            .svg_heart {
                height: 290px;
            }
        }
    }
    @media screen and (max-width: 1100px) {
        .horizontally {
            grid-template-columns: 250px auto;
        }
    }
    @media screen and (max-width: 970px) {
        .horizontally .information {
            margin-left: 0;
        }
    }
    @media screen and (max-width: 780px) {
        .horizontally {
            grid-template-columns: auto;
        }
        .svg_heart {
            display: none;
        }
        .div_a a {
            margin-right: 0 !important;
        }
    }
    @media screen and (max-width: 370px) {
        .horizontally .information ul {
            padding-left: 0;
        }
    }
}
@media screen and (min-width: 1600px) {
    .advantagesSchool_block .horizontally {
        justify-content: center;
    }
}
.groupClasses_block {
    background:
        url("/public/math_book_2c3bj4bbwwii\ 3.svg") 48% 33%/25% no-repeat,
        url("/public/Group_svg_py.svg") 100% 123%/20% no-repeat;
    background-color: #f48d6b;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 0px;
    .max1600 {
        max-width: 1230px;
    }
    .horizontally {
        display: grid;
        grid-template-columns: 430px auto;
        grid-template-rows: auto auto;
        gap: 0px;
        h5 {
            display: block;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            margin: 0;
            // margin-top: 10px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            span {
                background-color: #75a5f2;
                border-radius: 5px;
                display: inline-flex;
                align-items: center;
                padding: 0 88px;
            }
        }
        .png {
            border-radius: 10px;
            // margin-left: 20px;
            grid-row: span 2;
            // background: url("/public/ucheba.jpg") center/cover;
            height: 290px;
            // width: 430px;
            position: relative;
            // top: 30px;
        }

        .list_group {
            display: inline-block;
            border-radius: 10px;
            padding: 10px;
            padding-left: 30px;
            border: #07070775 4px solid;
            ul {
                padding: 0;
            }
            div {
                span {
                    font-size: 25px;
                    font-weight: 500;
                }
            }

            li {
                font-size: 19px;
                font-weight: 500;
                list-style-type: none; /* Убираем маркеры у списка */
            }
        }
    }
    .ul {
        border-radius: 10px;
        padding: 10px;
        padding-left: 30px;
        // border: #000000 4px solid;
        li {
            font-size: 19px;
        }
    }
    a {
        display: flex;
        text-decoration: none;
        margin-bottom: 24px;
        span {
            display: inline-flex;
            align-items: center;
            margin: 8px;
            color: #496085;
            transition: 0.3s;
            font-size: 20px;
        }
        svg {
            fill: #000000;
            transition: 0.3s;
        }
    }
    .down_linck {
        display: grid;
        grid-template-columns: 418px auto;
    }
    @media (hover: hover) {
        a:hover {
            svg {
                fill: #284a7f;
                transition: 0.3s;
            }
            span {
                transition: 0.3s;

                color: #284a7f;
            }
        }
    }

    @media screen and (max-width: 1050px) {
        .horizontally {
            grid-template-columns: 336px auto;
            align-items: center;
            .png {
                height: 220px;
            }
        }
    }
    @media screen and (max-width: 966px) {
        .horizontally {
            .list_group {
                width: 300px;
            }
            h5 span {
                padding: 0 56px;
            }
        }
    }
    @media screen and (max-width: 824px) {
        .horizontally {
            grid-template-columns: 280px auto;
            .png {
                height: 192px;
            }
        }
        .down_linck {
            grid-template-columns: auto auto;
            div {
                justify-content: flex-end !important;
            }
        }
    }
    @media screen and (max-width: 740px) {
        .horizontally {
            grid-template-columns: auto;
            .png {
                display: none;
            }
            .list_group {
                width: auto;
            }
            h5 span {
                padding: 0 88px;
            }
        }
        .down_linck .super_div_none {
            display: none;
        }
    }
    @media screen and (max-width: 510px) {
        .horizontally {
            // .png{
            //     display: none;
            // }
            // .list_group{
            //     width: auto;
            // }
            h5 span {
                padding: 0 40px;
            }
        }
    }
    @media screen and (max-width: 370px) {
        .horizontally {
            .list_group {
                padding-left: 15px;
            }
        }
        a {
            margin-bottom: 0px;
        }
    }
}
@media screen and (min-width: 1600px) {
    .groupClasses_block .max1600 {
        margin: auto;
    }
}

@media screen and (max-width: 1080px) {
    .groupClasses_block {
        background:
            url("/public/math_book_2c3bj4bbwwii 3.svg") 48% 36%/244px no-repeat,
            url("/public/Group_svg_py.svg") 100% 114%/200px no-repeat;
        background-color: #f48d6b;
    }
    .advantagesSchool_block {
        background: url("/public/Vectors11111.svg") 104% -2%/29% no-repeat;
        background-color: #7abdb4;
    }
    .announcement {
        padding: 10px 30px;
    }
}
@media screen and (max-width: 1033px) {
    .advantagesSchool_block {
        background: url("/public/Vectors11111.svg") 104% -2%/35% no-repeat;
        background-color: #7abdb4;
    }
}
@media screen and (max-width: 894px) {
    .groupClasses_block {
        background:
            url("/public/math_book_2c3bj4bbwwii 3.svg") 48% 36%/244px no-repeat,
            url("/public/Group_svg_py.svg") 100% 114%/200px no-repeat;
        background-color: #f48d6b;
    }
    .advantagesSchool_block {
        background: url("/public/Vectors11111.svg") 104% -2%/43% no-repeat;
        background-color: #7abdb4;
    }
    .announcement {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        .igs_button_universal_A1 {
            padding: 10px 60px;
        }
    }
}
@media screen and (max-width: 741px) {
    .groupClasses_block {
        background:
            url("/public/math_book_2c3bj4bbwwii 3.svg") -12% 36%/244px no-repeat,
            url("/public/Group_svg_py.svg") 100% 110%/200px no-repeat;
        background-color: #f48d6b;
    }
    .advantagesSchool_block {
        background: url("/public/Vectors11111.svg") 104% 10%/288px no-repeat;
        background-color: #7abdb4;
    }
}
@media screen and (max-width: 430px) {
    .groupClasses_block {
        margin: 10px 6px;
    }
    .advantagesSchool_block {
        margin: 10px 6px;
    }
    .programming_block {
        margin: 10px 6px;
    }
    .announcement {
        margin: 10px 6px;
    }
}
@media screen and (max-width: 370px) {
    .groupClasses_block {
        padding: 15px;
    }
    .advantagesSchool_block {
        padding: 15px;
    }
    .programming_block {
        padding: 15px;
    }
    .announcement {
        .igs_button_universal_A1 {
            padding: 10px 46px;
        }
    }
}
