@import url("../interface_good_school.scss");
h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin: 25px;
}
.h1_start {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
}
h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin: 25px;
}
h3 {
    display: none;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    margin: 25px;
    color: #d20000;
}

.back_global {
    top: 20px;
    left: 20px;
    position: absolute;
    margin: 0;
}
.timetable_classes_global_block {
    margin: 20px;
    .timetable_classes .time_none {
        background-color: #5193ff !important;
    }
}
.flex_center {
    justify-content: space-around;
    flex-wrap: wrap;
}
#button_save {
    margin-bottom: 16px;
    padding: 10px;
}
@media (hover: hover) {
    .timetable_classes_global_block .super_timetable .time_none:hover {
        background-color: #3a6ab8 !important;
    }
    .timetable_classes_global_block .super_timetable .time_work:hover {
        background-color: #3ab363 !important;
    }
}


.instruction_timetable_time{
    .time_none {
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #5193ff;
    }
    .time_none_X {
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #c4c4c4;
    }
    .time_work {
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #51ff8c;
    }
    .time_busyTemporarily {
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #a851ff;
    }
    .time_busyAlways {
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #ff5151;
    }
    .time_groups {
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #51cbff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        user-select: none
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 22px;
    
    .div_timetable_time{
        display: grid;
        grid-template-columns: 35px auto;
        align-items: start;
        margin-top: 6px;
        div{
            display: inline-block;
        }
        span{
            display: inline-block;
            font-size: 18px;
            margin-left: 8px;
            margin-top: 4px;
        }
    }
}
#instruction_group{
    width: 366px;
}
#instruction_individual{
    width: 466px;
}

@media screen and (max-width: 540px) {
    h1{
        margin-top: 74px;
    }
}
@media screen and (max-width: 500px) {
    .instruction_timetable_time{
        width: 350px !important;
    }
}
@media screen and (max-width: 470px) {
    #button_save{
        margin-top: 20px;
    }
}
@media screen and (max-width: 355px) {
    .instruction_timetable_time{
        width: 320px !important;
    }
    .timetable_classes_global_block{
        padding: 3px;
        margin: 0 !important;
    }
}


