@import url("../interface_good_school.scss");

.center_block {
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 70%;
    font-size: 20px;
    font-weight: 600;
    flex-direction: column;
    // align-items: center;
    h1 {
        margin-top: 55px;
        text-align: center;
    }
    h2 {
        margin-top: 86px;
        text-align: center;
    }
}
.link_center {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 200px;
    .block_articles {
        width: 25%;

        display: inline-block;
        font-size: 21px;
        text-align: center;
        background-color: #51b4a3;
        border-radius: 20px;
        text-decoration: none;
        color: #031e47;
        img {
            display: block;
            width: 90%;
            border-radius: 20px;
            margin: 5%;
            margin-bottom: 0;
        }
        div {
            padding: 10px 0;
        }
    }
    .block_articles:hover {
        background-color: #3b8478;
        // color: #909090;
        img {
            background-color: #3b8478;
            filter: brightness(70%);
        }
    }
}
@media screen and (max-width: 1800px) {
    .center_block {
        width: 85%;
    }
    .link_center .block_articles {
        width: 30%;
    }
}
@media screen and (max-width: 1400px) {
    .link_center .block_articles {
        width: 41%;
    }
    #tablet_size {
        margin-top: 35px;
    }
}
@media screen and (max-width: 1000px) {
    .link_center {
        margin-bottom: 80px;
        .block_articles {
            width: 54%;
        }
    }
    #phone_size {
        margin-top: 15px;
    }
    #tablet_size {
        margin-top: 15px;
    }
}
@media screen and (max-width: 750px) {
    .link_center .block_articles {
        width: 85%;
    }
}
@media screen and (max-width: 500px) {
    .link_center .block_articles {
        width: 95%;
    }
}
// @media screen and (max-width: 700px) {
//   .center_block {
//     img{
//       width: 90%;
//     }
//   }
// }
// @media screen and (max-width: 460px) {
//   .center_block {
//     text-align: center;
//     img{
//       width: 100%;
//     }
//   }
// }
