@import url("../interface_good_school.scss");
.prices_cards_block{
    background-color: #6A93D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 15px;
    margin: 20px;
    border-radius: 25px;
    .item_card{
        margin: 12px;
        width: 270px;
        height: 290px;
        background-color: #ffffff;
        border: #000 4px solid;
        border-radius: 25px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .item_card_flex{

            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            h3{
                text-align: center;
                margin-top: 20px;
                background-color: #FFBA40;
                padding: 8px 20px;
                border-radius: 10px;
            }
            span{
                font-size: 20px;
                font-weight: 600;
            }
            .span_big{
                font-size: 30px;
            }
            .span_red{
                margin-top: 15px;
                color: #FF6700;
            }
        } 
        button{
            padding: 8px 14px;
            font-size: 17.6px;
            margin-bottom: 10px;
        }
    }
    @media (hover: hover){
        .item_card:hover{
            background-color: #6A93D4;
            .item_card_flex .span_red{
                color: #FFAB73;
            }
            button{
                background-color: #5ED1BD;
            }
            button:hover{
                background-color: #34D1B6;
            }
        }
    }
}
.sleep_none{
    display: none;
}
.back_global{
    position: absolute;
    top:0;
}
h1{
    text-align: center;
    color: #052E6E;
}

@media screen and (max-width:560px){
    h1{
        margin-top: 76px;
    }
}

@media screen and (max-width:370px) {
    .prices_cards_block{
        margin: 20px 4px;
    }
}