.main_grid_block {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 0px;
    margin-top: 6px;
    margin-bottom: 20px;
    h2 {
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        margin: 23px 0px;
    }
    .button_a_block {
        display: flex;
        justify-content: center;
        .igs_button_universal_B1 {
            padding: 5px;
            display: grid;
            grid-template-columns: 60px 250px;
            align-items: center;
            text-align: center;
            font-size: 17px;
            .svg {
                width: 60px;
                height: 60px;
            }
            .information_text {
            }
        }
        a {
            width: 310px;
        }
    }
    #whatsapp .svg {
        background: url("whatsapp_s1.svg") center/cover;
    }
    #telegram .svg {
        background: url("telegram_s3.svg") center/cover;
    }
    #email .svg {
        background: url("email_s7.svg") center/cover;
    }
    #phone .svg {
        background: url("phone_s9.svg") center/cover;
    }
    #vkontakte .svg {
        background: url("vkontakte_s5.svg") center/cover;
    }
    @media(hover:hover) {
        #whatsapp:hover .svg {
            background: url("whatsapp_s2.svg") center/cover;
        }
        #telegram:hover .svg {
            background: url("telegram_s4.svg") center/cover;
        }
        #email:hover .svg {
            background: url("email_s8.svg") center/cover;
        }
        #phone:hover .svg {
            background: url("phone_s10.svg") center/cover;
        }
        #vkontakte:hover .svg {
            background: url("vkontakte_s6.svg") center/cover;
        }
    }
    .div_img_block {
        grid-row: 1/ 7;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        .div_img {
            margin-top: 20px;
            width: 700px;
            height: 412px;
            background: url("контакты_photo.png") center/cover;
            border-radius: 10px;
        }
    }
    .button_active_1{
        background-color: #144f45;
        color: #51b4a3;
    }
    .button_active_2{
        background-color: #144f45;
        color: #51b4a3;
    }
    .button_active_2 .svg {
        background: url("email_s11.svg") center/cover !important;
    }
    .button_active_1 .svg {
        background: url("phone_s12.svg") center/cover !important;
    }
}
.free_block{
    grid-template-rows: auto auto auto auto auto;
    .div_img_block{
        grid-row: 1 / 5;
    }
}
body{
    background: url("contacts_s_1.svg") 33% 114%/246px, url("contacts_s_2.svg") 98% 38%/246px;
}
.igs_button_universal_B1{
    font-size: 18px !important;
}
@media screen and (max-width: 1050px) {
    .div_img{
        width: 550px !important;
        height: 336px !important;
    }
}
@media screen and (max-width: 890px) {
    .div_img{
        width: 432px !important;
        height: 268px !important;
    }
}
@media screen and (max-width: 770px) {
    .div_img_block{
        display: none !important;
    }
    .main_grid_block{
        grid-template-columns: auto;
    }
}