@import url("../interface_good_school.scss");
header {
    margin-bottom: 30px;
}
.topBody {
    background: linear-gradient(to bottom left, #458cfe88 20%, #dbfdff85 20% 50%, #458cfe88 50% 70%, #dbfdff85 70%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -501;
}
.topBody2 {
    // background-color: rgba(255, 27, 76, 0.516);
    background: linear-gradient(to bottom right, #45fedf88 20%, #c1ffed85 20% 50%, #45fedf88 50% 70%, #c1ffed85 70%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -500;
}
.tutors_box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .card_teacher {
        display: grid;
        grid-template-columns: 410px 300px;
        gap: 20px;
        margin: 0 10px;
        margin-top: 20px;
        .information_teacher {
            color: rgb(0, 0, 0);
            border-radius: 15px;
            // background-color: #ffffff;
            background-color: #ffffff;
            padding: 40px 20px;
            // margin: 10px;
            // width: 410px;
            min-height: 450px;
            .img_text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .photo {
                    border-radius: 5px;
                    // background: url("121381277.png") center / cover;
                    width: 180px;
                    height: 180px;
                }
                .photo_diploma {
                    border-radius: 5px;
                    // background: url("121381277.png") center / cover;
                    width: 180px;
                    height: 180px;
                }
                span {
                    margin-right: 20px;
                    width: 160px;
                    p {
                        font-size: 17px;
                        margin: 10px 0;
                    }
                    .name {
                        font-size: 18px;
                    }
                }
            }
            .teacher_text {
                font-size: 16px;
                margin-top: 25px;
            }
        }
        .comments_teacher {
            // width: 410px;
            padding: 5px;
            padding-top: 40px;
            background-color: #ffffff;
            border-radius: 15px;
            .top_text_grade {
                font-size: 21px;
                font-weight: 600;
                text-align: center;
                .flex_grade {
                    display: flex;
                    justify-content: flex-end;
                    .grade_star {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 62px;
                        font-size: 22px;
                        margin-top: 10px;
                        margin-right: 5px;
                        .svg_star {
                            height: 27px;
                            width: 27px;
                            background: url("/public/star_tj4kgwc5d9sj.svg") center/cover;
                        }
                    }
                }
            }
            .list_comments {
                height: 560px;
                overflow: auto;
                .comments {
                    padding: 5px;
                    border: 2px #000 solid;
                    border-radius: 10px;
                    margin-top: 10px;
                    .flex_comment {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                        .comment_star {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .svg_star {
                                height: 16px;
                                width: 16px;
                                background: url("/public/star_tj4kgwc5d9sj.svg") center/cover;
                            }
                            .svg_star_not {
                                height: 16px;
                                width: 16px;
                                background: url("/public/star_tj4kgwc5d9sj_NOT.svg") center/cover;
                            }
                        }
                    }
                    .name {
                        font-size: 19px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .card_teacher:nth-child(1) .information_teacher {
        background: url("/public/tutors_s_1.svg") 227% 131%/85% no-repeat;
        background-color: #ffffff;
    }
    // .card_teacher:nth-child(2) .information_teacher {
    .card_teacher:nth-child(2) .information_teacher {
        background: url("/public/tutors_s_2.svg") -94% 184%/110% no-repeat;
        background-color: #ffffff;
    }
}
@media screen and (max-width: 1510px) {
    .topBody {
        // height: 150%;
    }
    .topBody2 {
        // height: 150%;
    }
    .tutors_box {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .tutors_box {
        .information_teacher {
            .img_text {
                span {
                    margin-right: 0;
                    width: 152px;
                    word-break: break-all;
                }
            }
        }
        .card_teacher:nth-child(1) .information_teacher {
            background: url("/public/tutors_s_1.svg") 227% 124%/89% no-repeat;
            background-color: #ffffff;
        }
        .card_teacher:nth-child(2) .information_teacher {
            background: url("/public/tutors_s_2.svg") -60% 176%/112% no-repeat;
            background-color: #ffffff;
        }
    }
}
@media screen and (max-width: 760px) {
    .topBody {
        // height: 207%;
    }
    .topBody2 {
        // height: 207%;
    }
    .tutors_box .card_teacher {
        grid-template-columns: 410px;
        grid-template-rows: auto auto;
        .comments_teacher .list_comments {
            // overflow-x: scroll !important;
            height: 300px;
        }
    }
    #a2 {
        margin-top: 50px;
    }
}
@media screen and (max-width: 440px) {
    .tutors_box {
        .card_teacher {
            grid-template-columns: 360px;
            .information_teacher {
                // width: 318px;
                margin: 10px 2px;
                padding: 20px 10px;
                padding-bottom: 16px;
                .img_text {
                    // justify-content: space-around;
                    .photo {
                        width: 150px;
                        height: 150px;
                        margin-right: 10px;
                    }
                }
                .teacher_text {
                    margin-bottom: 0;
                }
                .comments_teacher .list_comments {
                    // overflow-x: scroll !important;
                    // height: 300px;
                }
            }
        }
        .card_teacher:nth-child(2) .information_teacher {
            background: url("/public/tutors_s_2.svg") -96% 151% / 110% no-repeat !important;
            background-color: #ffffff !important;
        }
    }
}
@media screen and (max-width: 360px) {
    .tutors_box {
        .card_teacher{

            grid-template-columns: 300px;
        }
        .information_teacher {
            // width: 296px;
            .img_text {
                // justify-content: space-around;
                .photo {
                    width: 130px;
                    height: 130px;
                }
            }
        }
        .card_teacher:nth-child(2) .information_teacher {
            background: url("/public/tutors_s_2.svg") -96% 142% / 110% no-repeat !important;
            background-color: #ffffff !important;
        }
    }
}
