@import url("../interface_good_school.scss");
.tutors_box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card_teacher{
        color: white;
        border-radius: 5px;
        background-color: #447BD4;
        padding: 40px 20px;
        margin: 10px;
        width: 410px;
        min-height: 450px;
        .img_text{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .photo{
                border-radius: 5px;
                // background: url("121381277.png") center / cover;
                width: 180px;
                height: 180px;
            }
            .photo_diploma{
                border-radius: 5px;
                // background: url("121381277.png") center / cover;
                width: 180px;
                height: 180px;
            }
            span{
                margin-right: 20px;
                width: 160px;
                p{
                    font-size: 17px;
                    margin: 10px 0;
                }
                .name{
                    font-size: 18px;
                }
            }
        }
        .teacher_text{
            font-size: 16px;
            margin-top: 25px;
        }
    }
    .card_teacher:nth-child(1){
        background: url("/public/tutors_s_1.svg") 227% 131%/85% no-repeat;
        background-color: #447BD4;
    }
    .card_teacher:nth-child(2){
        background: url("/public/tutors_s_2.svg") -96% 244%/110% no-repeat;
        background-color: #447BD4;
    }
}
@media screen and (max-width: 900px){
    .tutors_box{
        .card_teacher{
            width: 350px;
            .img_text{
                span{
                    margin-right: 0;
                    width: 152px;
                    word-break: break-all;
                }
            }
        }
        .card_teacher:nth-child(1){
            background: url("/public/tutors_s_1.svg") 227% 124%/89% no-repeat;
            background-color: #447BD4;
        }
        .card_teacher:nth-child(2){
            background: url("/public/tutors_s_2.svg") -60% 176%/112% no-repeat;
            background-color: #447BD4;
        }
    }
}
@media screen and (max-width: 430px){
    .tutors_box{
        .card_teacher{
            width: 318px;
            margin: 10px 2px;
            padding: 20px 10px;
            padding-bottom: 16px;
            .img_text{
                // justify-content: space-around;
                .photo{
                    width: 150px;
                    height: 150px;
                }
            }
            .teacher_text{
                margin-bottom: 0;
            }
        }
        .card_teacher:nth-child(2){
        background: url("/public/tutors_s_2.svg") -96% 151% / 110% no-repeat !important;
        background-color: #447BD4 !important;
        }
    }
}
@media screen and (max-width: 360px){
    .tutors_box{
        .card_teacher{
            width: 296px;
            .img_text{
                // justify-content: space-around;
                .photo{
                    width: 130px;
                    height: 130px;
                }
            }
        }
        .card_teacher:nth-child(2){
            background: url("/public/tutors_s_2.svg") -96% 142% / 110% no-repeat !important;
            background-color: #447BD4 !important;
        }
    }
}