h1{
    color: #031E47;
    text-align: center;
}
h2{
    color: #031E47;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
.center_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .photo_svg{
        background: url("registration_student_s_1.svg") center/cover;
        width: 477px;
        height: 346px;
        margin-right: 100px;
        margin-bottom: 150px;
    }
    .photo_svg_2{
        background: url("entrance_s_1.svg") center/cover;
        width: 477px;
        height: 400px;
        margin-right: 100px;
        // margin-bottom: 150px;
    }
    .photo_svg_3{
        background: url("confirm_password_s_3.svg") center/cover;
        width: 477px;
        height: 246px;
        margin-right: 100px;
        // margin-bottom: 150px;
    }
    .width_block{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 420px;
        // margin-right: 50px;
        margin-left: 150px;
        .igs_button_universal_B1{
            font-size: 19px;
            padding: 10px 0px;
            width: 134px;
            text-align: center;
        }
        .receiving_data{
            background-color: #FFCC73;
            margin: 6px;
            font-size: 21px;
            border: 0 #000 solid;
            padding: 10px 0px;
            border-radius: 5px;
            text-align: center;
        }
        input{
            color: #A64300;
            padding-left: 10px !important;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
          border: 0px solid green;
          -webkit-text-fill-color: #A64300;
          -webkit-box-shadow: 0 0 0px 1000px #FFCC73 inset;
          transition: background-color 5000s ease-in-out 0s;
        }
        select{
            color: #757575;
            option{
                color: #A64300;
            }
            [value=""]{
                color: #757575;

            }
        }
    }
}
#buttonSend_registrationStudent{
    margin-bottom: 30px;
}
// .igs_button_universal_B1{
//     padding: 8px;
// }
.warning{
    text-align: center;
    font-size: 20px;
    color: #fe2a2a;
    display: none;
}
// body{
//     background: url("registration_student_s_1.svg") 107% 74%/691px no-repeat;
// }

@media screen and (max-width:1150px) {
    .photo_svg{
        margin-right: 0 !important;
    }
}
@media screen and (max-width:1110px) {
    .photo_svg_2{
        margin-right: 0 !important;
    }
    .photo_svg_3{
        margin-right: 0 !important;
    }
    .width_block{
        margin-left: 20px !important;
    }
}
@media screen and (max-width:910px) {
    .photo_svg{
        width: 345px !important;
        height: 246px !important;
    }
    .photo_svg_3{
        display: none;
    }
}
@media screen and (max-width:870px) {
    .photo_svg_2{
        width: 324px !important;
        height: 292px !important;
        margin-top: 68px;
    }
    .width_block{
        max-width: 342px;
    }
}
@media screen and (max-width:690px) {
    .photo_svg{
        display: none;
    }
    .photo_svg_2{
        display: none;
    }
    .photo_svg_3{
        display: none;
    }
    .width_block{
        width: auto;
        max-width: 420px;
        margin-left: 0px !important;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Кнопки спрятаны */
}