h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin: 25px;
}
h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin: 25px;
}
// display: flex;
.blockTop_name {
    // height: 81.4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .fi{
        margin-right: 20px;
    }
    .user_name_surname{
        background-color: #D9D9D9;
        padding: 13px 15px 4px 15px;
        border-bottom: 1px #000 solid;
        min-width: 230px;
        font-size: 20px;
        text-align: center;
    }
}
.back_global{
    top: 20px;
    left: 20px;
    position: absolute;
    margin: 0;
}
.timetable_classes{
    background-color: #E3E3E3;
    padding: 15px 45px 15px 35px;
    display: grid;
    border: #000 1px solid;
    border-radius: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;

    .text_grid_day{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .text_grid_time{
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
    }
    .time_none{
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #C4C4C4;
    }
    .time_work{
        border-radius: 10px;
        width: 35px;
        height: 35px;
        background-color: #51FF8C;
    }
}
.igs_button_universal_B1{
    margin-top: 30px;
    padding: 10px 16px;
}
