h1 {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    margin: 25px;
}
.paid_lessons {
    background-color: #284a7f;
    color: white;
    position: absolute;
    right: calc(0% + 50px);
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 22px;
}
h2 {
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    margin: 25px;
}
.link_payment {
    font-size: 19px;
    position: absolute;
    right: calc(0% + 50px);
    top: 120px;
    display: flex;
    text-decoration: none;
    top: 95px;
    // margin-bottom: 24px;
    span {
        display: inline-flex;
        align-items: center;
        margin: 8px;
        color: #496085;
        transition: 0.3s;
    }
    svg {
        fill: #000000;
        transition: 0.3s;
    }
}
// display: flex;
.blockTop_name {
    // height: 81.4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .fi {
        // margin-right: 20px;
        font-size: 22px;
        width: 52px;
    }
    .user_name_surname {
        background-color: #d9d9d9;
        padding: 4px 15px 4px 15px;
        border-bottom: 1px #000 solid;
        min-width: 500px;
        font-size: 23px;
        text-align: center;
    }
}
.back_global {
    top: 20px;
    left: 20px;
    position: absolute;
    margin: 0;
}
.igs_button_universal_B1 {
    margin-top: 30px;
    padding: 10px 16px;
}

.link_payment:hover {
    svg {
        fill: #284a7f;
        transition: 0.3s;
    }
    span {
        transition: 0.3s;

        color: #284a7f;
    }
}
// .platform_setup_all {
//     position: absolute;
//     top: 22%;
//     display: inline-flex;
//     flex-direction: column;
//     align-items: center;
//     margin-left: 40px;
//     .platform_setup {
//         width: 250px;
//         display: inline-flex;
//         flex-direction: column;
//         align-items: stretch;
//         padding: 13px;
//         border: #000 1px solid;
//         border-radius: 10px;
//         background-color: white;
//         .span_grey_h1 {
//             border-radius: 10px;
//             background-color: #e3e3e3;
//             text-align: center;
//             display: inline-block;
//             padding: 18px 0;
//             font-size: 18px;
//             margin-bottom: 7px;
//         }
//         .igs_button_universal_B1 {
//             margin-top: 20px;
//         }
//         .button_platform_setup_on {
//             background-color: #144f45;
//             color: #51b4a3;
//         }
//         #but_setup_2 {
//             margin-top: 10px;
//         }
//     }
//     #super_a {
//         margin-top: 15px;
//     }
// }
.platform_setup_all {
    margin: 0 auto;
    margin-top: 13px;
    width: 532px;
    border: #000 3px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    .span_grey_h1 {
        background-color: #e3e3e3;
        border-radius: 10px;
        width: 244px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        span {
            display: inline-block;
            width: 145px;
            text-align: center;
            font-size: 19px;
            font-weight: 600;
        }
    }
    .platform_setup {
        display: inline-flex;
        flex-direction: column;
        margin: 10px;
        .igs_button_universal_B1 {
            text-align: center;
            margin: 3px;
            // width: 200px;
            // display: inline-block;
        }
        .button_platform_setup_on {
            background-color: #144f45;
            color: #51b4a3;
        }
    }
}
.information_about_teacher {
    width: 250px;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    padding: 13px;
    border: #000 3px solid;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    top: 200px;
    // position: absolute;
    // top: 200px;
    // right: 0%;
    position: relative;
    margin-right: 40px;
    span {
        border-radius: 10px;
        background-color: #e3e3e3;
        text-align: center;
        display: inline-block;
        padding: 10px 0;
        font-size: 18px;
        margin-bottom: 7px;
        p {
            margin: 0;
        }
    }
    .main_span{
        font-size: 19px;
        font-weight: 600;
    }
    .igs_button_universal_B1{
        margin: 0;
    }
    a {
        padding: 8px;
        display: grid;
        grid-template-columns: 33px auto;
        align-items: center;
        text-align: center;
        font-size: 17px;
        .svg {
            width: 33px;
            height: 33px;
        }
    }
    #link_1 .svg {
        background: url("whatsapp_s1.svg") center/cover;
    }
    #link_1:hover .svg {
        background: url("whatsapp_s2.svg") center/cover;
    }
    #link_2 .svg {
        background: url("telegram_s3.svg") center/cover;
    }
    #link_2:hover .svg {
        background: url("telegram_s4.svg") center/cover;
    }
    .igs_button_universal_B1 {
        margin-top: 6px;
    }
}
.transparent_button{
    background-color: #51b4a394;
}
.transparent_button:hover{
    background-color: #42928594;
}
.button_active {
    background-color: #144f45;
    color: #51b4a3;
}
.button_active:hover {
    background-color: #11423a;
    color: #48a595;
}

.timetable_classes_global_block {
    margin: 0 auto;
    width: 500px;
    border: #000 3px solid;
    .none_lessons_this_week{
        display: block !important;
        text-align: center;
        font-size: 20px;
        padding: 0 !important;
        margin-top: 10px;
    }
    .igs_button_universal_B1 {
        width: 200px;
        height: 48px;
        padding: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .igs_button_universal_A1 {
        width: 200px;
        height: 48px;
        padding: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    #link_to_lesson{
        display: inline-block;
        
    }
}

.photo_svg{
    background: url("personal_area_student_s_1.svg") center/cover;
    width: 323px;
    height: 372px;
    position: relative;
    top: 200px;
    margin-left: 30px;
}

.grid_center_three{
    display: grid;
    grid-template-columns:  auto auto auto;
    justify-items: center;
    align-items: start;
}

@media screen and (max-width: 1280px) {
    .photo_svg{
        margin-left: 0;
    }
    .platform_setup_all{
        width: 496px;
    }
    .timetable_classes_global_block{
        width: 464px;
    }
    .user_name_surname{
        min-width: auto !important;
        width: 464px !important;
    }
}
@media screen and (max-width: 1220px) {
    .grid_center_three{
        grid-template-columns:  auto auto;
        .photo_svg{
            display: none;
        }
    }
}
@media screen and (max-width: 975px) {
    .platform_setup_all{
        width: 484px;
        .span_grey_h1{
            width: 178px
        }
    }
    .information_about_teacher{
        margin-right: 0;
    }
}
@media screen and (max-width: 790px) {
    h1{
        margin-top: 80px;
    }
    .user_name_surname{
        width: 343px !important;
    }
    .timetable_classes_global_block{
        width: 348px;
        .igs_button_universal_B1{
            width: 160px
        }
        .igs_button_universal_A1{
            width: 160px
        }
        #link_to_lesson span{
            display: inline-block;
        }
    }
    .platform_setup_all{
        width: 368px;
        .platform_setup{
            margin-left: 5px;
            .igs_button_universal_B1{
                padding: 10px 0;
                width: 178px;
            }
        }
        .span_grey_h1{
            margin-right: 5px;
        }
    }
    .link_payment{
        svg{
            width: 42px;
            height: 42px;
        }
        top: 80px;
    }
    .paid_lessons{
        padding: 8px;
        font-size: 17px;
    }
}
@media screen and (max-width: 670px){
    .grid_center_three{
        grid-template-columns:  auto;
        grid-template-rows: auto auto;
        h1{
            margin-top: 168px;
        }
        .information_about_teacher{
            top: 13px;
            width: 342px;
        }
        .information_about_teacher{
            margin-bottom: 40px;
        }
    }
    .paid_lessons{
        right: 20px;
    }
    .link_payment{
        right: 20px;
    }
}
@media screen and (max-width: 400px){
    .user_name_surname{
        width: 310px !important;
    }
    .grid_center_three{
        .timetable_classes_global_block{
            width: 326px;
            // width: 302px;
            padding: 6px 4px;
            .igs_button_universal_A1{
                width: 140px;
            }
            .igs_button_universal_B1{
                width: 140px;
            }
        }
        .platform_setup_all{
            width: 335px;
            .span_grey_h1{
                width: 128px;
            }
        }
        .information_about_teacher{
            width: 309px;
        }
        h1 {
            margin-top: 194px;
        }
    }
    .link_payment{
        top: 130px;
        left: 20px;
    }
    .paid_lessons{
        top: 56px;
        left: 20px;
        width: 206px;
        display: inline-block;
        text-align: center;
    }
}
@media screen and (max-width: 360px){
    .user_name_surname{
        width: 283px !important;
    }
    .grid_center_three{
        .timetable_classes_global_block{
            width: 302px;
            margin: 0 !important;
            margin-top: 13px;
        }
        .platform_setup_all{
            width: 310px;
            margin: 0;
            margin-top: 13px;
            .igs_button_universal_B1{
                width: 150px;
                text-align: center;
            }
        }
        .information_about_teacher{
            margin: 0;
            margin-top: 13px;
            width: 285px;
        }
    }
}