body {
    margin: 0;
    background-color: #ffffff;
    font-family: system-ui;
}
header {
    // position: sticky;
    // top: 0;
    .top_block {
        // height: 176px;
        background-color: #ecd0a0;
        padding: 15px 0;
        svg {
            // width: 130px;
            height: 142px;
            position: absolute;
            top: 28px;
            left: 38px;
        }
        .site_name {
            font-weight: bolder;
            color: #031e47;
            height: 115px;
            display: flex;
            justify-content: center;
            align-items: center;
            .span_top_block {
                font-size: 50px;
                display: inline-flex;
                align-items: center;
                span:nth-child(1) {
                    font-size: 58px;
                }
                span:nth-child(2) {
                    margin-top: 8px;
                }
            }
        }
        .block_a_global {
            position: relative;
            z-index: 20;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            a {
                font-size: 17px;
                text-decoration: none;
                background-color: #51b4a3;
                color: #031e47;
                margin: 4px;
                padding: 8px;
                border-radius: 5px;
            }
            span {
                font-size: 17px;
                text-decoration: none;
                background-color: #144f45;
                color: #51b4a3;
                margin: 4px;
                padding: 8px;
                border-radius: 5px;
            }
        }
    }
    @media screen and (max-width: 1190px) {
        .top_block {
            // svg{
            //     height: 96px;
            // }
            .block_a_global {
                // display: none;
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }
    @media screen and (max-width: 800px) {
        .top_block {
            // svg{
            //     height: 96px;
            // }
            .block_a_global {
                // display: none;
                max-width: 81%;
                margin: 0 0 0 auto;
                a {
                    padding: 8px;
                }
                span {
                    padding: 8px;
                }
            }
            .site_name {
                // display: none;
                max-width: 81%;
                margin: 0 0 0 auto;
            }
        }
    }
    @media screen and (max-width: 666px) {
        .top_block {
            svg {
                left: 10px;
            }
            .block_a_global {
                // display: none;
                // max-width: 81%;
                // margin: 0 0 0 auto;
                a {
                    padding: 6px;
                }
                span {
                    padding: 6px;
                }
            }
        }
    }
    @media screen and (max-width: 460px) {
        .top_block {
            svg {
                height: 107px;
                top: auto;
            }
            .block_a_global {
                // display: none;
                max-width: 100%;
                margin: 0;
                // a{
                //     padding: 6px;
                // }
                // span{
                //     padding: 6px;
                // }
            }
            .site_name {
                .span_top_block {
                    font-size: 45px;
                    span:nth-child(1) {
                        font-size: 52px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 360px) {
        .top_block {
            .site_name {
                .span_top_block {
                    font-size: 40px;
                    span:nth-child(1) {
                        font-size: 47px;
                    }
                }
            }
        }
    }
}
.igs_button_universal_A1 {
    text-decoration: none;
    background-color: #51b4a3;
    color: #031e47;
    margin: 4px;
    padding: 10px;
    border-radius: 5px;
}
.back_global {
    display: inline-block;
    margin: 20px;
}
.igs_button_universal_B1 {
    border: 0;
    font-size: 15px;
    text-decoration: none;
    background-color: #51b4a3;
    color: #031e47;
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
}
@media (hover: hover){
    .igs_button_universal_B1:hover {
        background-color: #429285;
    }
    .igs_button_universal_A1:hover {
        background-color: #429285;
    }
}
.flex_center {
    display: flex;
    justify-content: center;
}

// *STUB - расписание
.timetable_classes_global_block {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #e3e3e3;
    border: #000 1px solid;
    .timetable_classes_scroll {
        max-height: 420px;
        overflow-y: auto;
        .timetable_classes_up_day {
            background-color: #e3e3e3;
            padding: 11px 30px 7px 20px;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto;
            gap: 10px;
            position: sticky;
            top: 0;
            div {
                color: #ffffff00;
            }
            .text_grid_day {
                width: 35px;
                height: 35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: sticky;
                top: 0;
                background-color: #e3e3e3;
            }
            .text_grid_time {
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        .timetable_classes {
            background-color: #e3e3e3;
            padding: 0px 30px 15px 20px;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto;
            // grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
            gap: 10px;
            .text_grid_time {
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
            }
            .time_none {
                border-radius: 10px;
                width: 35px;
                height: 35px;
                background-color: #c4c4c4;
            }
            .time_none_X {
                border-radius: 10px;
                width: 35px;
                height: 35px;
                background-color: #c4c4c4;
            }
            .time_work {
                border-radius: 10px;
                width: 35px;
                height: 35px;
                background-color: #51ff8c;
            }
            .time_busyTemporarily {
                border-radius: 10px;
                width: 35px;
                height: 35px;
                background-color: #a851ff;
            }
            .time_busyAlways {
                border-radius: 10px;
                width: 35px;
                height: 35px;
                background-color: #ff5151;
            }
            .time_groups {
                border-radius: 10px;
                width: 35px;
                height: 35px;
                background-color: #51cbff;
            }
        }
    }
    .igs_button_universal_B1 {
        margin-top: 30px;
        padding: 10px 16px;
    }
    .timetable_classes_scroll::-webkit-scrollbar {
        width: 10px;
        background-color: #6767ff00;
        border: solid #000 0px;
        border-radius: 25px;
    }
    .timetable_classes_scroll::-webkit-scrollbar-button {
        background-color: #6f0101;
        display: none;
    }
    .timetable_classes_scroll::-webkit-scrollbar-track {
        background-color: #ffffff00;
    }
    .timetable_classes_scroll::-webkit-scrollbar-thumb {
        background-color: #51b4a3;
        border-radius: 25px;
    }
    .timetable_classes_scroll::-webkit-scrollbar-thumb:hover {
        background-color: #459a8b;
    }
    .timetable_classes_scroll::-webkit-scrollbar-thumb:active {
        background-color: #337267;
    }
}
@media screen and (max-width: 975px) {
    .timetable_classes_global_block {
        padding: 10px 10px;
        .timetable_classes_scroll {
            // max-width: 290px;
            max-height: 320px;
            .timetable_classes_up_day {
                // display: inline-flex;
                padding: 0px 20px 15px 10px;
                .text_grid_day {
                    width: 30px;
                    height: 30px;
                }
            }
            .timetable_classes {
                padding: 0px 20px 15px 10px;
                // .text_grid_time{
                //     position: sticky;
                //     left: 0;
                // }
                .time_none {
                    width: 30px;
                    height: 30px;
                }
                .time_work {
                    width: 30px;
                    height: 30px;
                }
                .time_busyTemporarily {
                    width: 30px;
                    height: 30px;
                }
                .time_busyAlways {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 470px) {
    .timetable_classes_global_block {
        margin: 10px !important;
        .timetable_classes_scroll {
            .timetable_classes_up_day {
                padding: 0px 5px 15px 5px;
                gap: 5px;
            }
            .timetable_classes {
                gap: 7px;
                padding: 0px 5px 15px 5px;
            }
        }
        .timetable_classes_scroll::-webkit-scrollbar {
            width: 0px;
        }
    }
}
.information_time_global_block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .information_block {
        display: inline-flex;
        align-items: center;
        margin: 10px;
        .time_none {
            display: inline-block;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            background-color: #c4c4c4;
            margin-right: 10px;
        }
        .time_work {
            display: inline-block;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            background-color: #51ff8c;
            margin-right: 10px;
        }
        .time_busyTemporarily {
            display: inline-block;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            background-color: #a851ff;
            margin-right: 10px;
        }
        .time_busyAlways {
            display: inline-block;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            background-color: #ff5151;
            margin-right: 10px;
        }
        // span{
            //     margin-left: 10px;
        // }
    }
}
