@import url("../src/interface_good_school.scss");

.center_block {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 70%;
  font-size: 19px;
  flex-direction: column;
  // align-items: center;
  h1 {
    text-align: center;
  }
  img{
    width: 70%;
  }
}
@media screen and (max-width: 1060px) {
  .center_block {
    width: 85%;
  }
}
@media screen and (max-width: 700px) {
  .center_block {
    img{
      width: 90%;
    }
  }
}
@media screen and (max-width: 460px) {
  .center_block {
    text-align: center;
    img{
      width: 100%;
    }
  }
}
